<!DOCTYPE html>
<html>
<head>
  <title>PaperHand Trading</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="overlay"></div>
  <div class="wrapper">
    <header>
      <h1>PaperHand Trading</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div class="container">
        <h2>Welcome to PaperHand Trading!</h2>
        <p>Practice YOLO'ing stocks with virtual money in real-time.</p>
        <br/>
        <a href="/signup" class="cta-button">Start Gambling</a>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <div class="feature">
          <h3>Real-Time Market Data</h3>
          <p>Access up-to-date market data to make degenerate trading decisions.</p>
        </div>
        <div class="feature">
          <h3>Virtual Trading Account</h3>
          <p>Create a virtual account and start losing all your fake money today!</p>
        </div>
        <div class="feature">
          <h3>Leaderboard</h3>
          <p>Compete with other degenerates and see where you stand on the loserboard.</p>
        </div>
      </div>
    </section>
  </div>

  <footer>
    <p>&copy; 2023 PaperHand Trading. All rights reserved.</p>
  </footer>
</body>
</html>
